@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('subset-OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-OpenSans-Bold.woff2') format('woff2'),
        url('subset-OpenSans-Bold.woff') format('woff'),
        url('subset-OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans-BoldItalic.eot');
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('subset-OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-OpenSans-BoldItalic.woff2') format('woff2'),
        url('subset-OpenSans-BoldItalic.woff') format('woff'),
        url('subset-OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('subset-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-OpenSans-Regular.woff2') format('woff2'),
        url('subset-OpenSans-Regular.woff') format('woff'),
        url('subset-OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('subset-OpenSans-Italic.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('subset-OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('subset-OpenSans-Italic.woff2') format('woff2'),
        url('subset-OpenSans-Italic.woff') format('woff'),
        url('subset-OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
